<div class="product-gallery">
  <table>
    <% @products.each do |product| %>
      <tr>
        <p><img height="200px" src="<%= product.image %>"</p>
        <p><h3><%= link_to product.name, product_path(product.id) %></h3></p>
        <p>$<%= product.price %><p>
      </tr>
    <%end%>
  </table>
</div>
