<ul class="gallery">
  <% @products.each do |product| %>
    <li>
      <p><img height="200px" src="<%= product.image %>"</p>
      <p><h3><%=product.name %></h3></p>
      <p>$<%= product.price %><p>
    </li>
  <%end%>
</ul>